*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body{
  background-color: #02021c;
  
}

/*------------------------------------carrossel 1--------------------------------------- */
.container-fluid{
  padding:0;
}

#mainSlider .carousel-inner{ height: 90vh;}

.carousel-item { height: auto;}

.carousel-item .carousel-caption{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 30vh;
  height: 24vh;
  margin: 0 auto;
  background: rgba( 189, 16, 224, 0.1 );
  box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
  backdrop-filter: blur( 4px );
  -webkit-backdrop-filter: blur( 4px );
  border-radius: 10px;
  border: 1px solid rgba( 255, 255, 255, 0.18 );
}

.carousel-item .carousel-caption{top: 57vh;}

#mainSlider .carousel-caption h2{
  font-size: 30px;
  margin-bottom: 20px;
  color: #ffffff;
  }

.carousel-caption .play{
  width: 40%;
  height: auto;
  border-radius: 50%;
}

.carousel-caption .play:hover{opacity: 0.4;}

.carousel-indicators .active{ background-color: #65DAF9;}

/*---------------------------------Carrossel 2-------------------------------------- */
.carrossel {
  height: 325px;
  width: 100vw;
  display: flex;
  overflow: hidden;
  margin-bottom: 20px;
  padding: 50px 10px 50px 10px ;
  animation: transladar 0.1s;

}

.carrossel div {
  width: 300px;
  margin-right: 4vw;
}

.box:hover {
  transform: scale(1.1);
  transition: all 0.5s ease;
}

.image {
  height: 260px;
  width: 201px;
}

.start {
  opacity: 0;
  position: absolute;
  height: 200px;
  width: 150px;
  transition: all 0.5s ease;
  padding-top: 50px;
}

.start:hover {
  opacity: 1;
  transition: 1500ms;
}

.botoes2 {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
 
}

.botoes2 div {
  width: 50px;
  margin-right: 10px;

}

.botoes2 div img {
  cursor: pointer;
  width: 100%;
}

.botoes2 div img:hover {
  filter: invert(1);
  transition: all 0.5s ease;
}
/*------------------------------Carrossel 2 @media---------------------------------------*/

@media screen and (max-width: 1435px) {

  .carrossel div img { width: 180px;}
}

@media screen and (max-width: 800px) {

  .carrossel div {margin-right: 2.5vw;}

  .box .image{
   height: 200px;
   width: 130px;
  }

  .start .imageplay{
  height: 110px;
  width: 130px;
 }

 .carrossel {height: 280px;}

}
 
@media screen and (max-width:555px){

  .box:hover{
    transform: scale(1.45);
    transition: all 0.5s ease;
    
  }

  .box:hover .start{
    transition: 1s;
    opacity: 1;
  }

  .box .start img{ 
    height: 30px;
    width: 38px;
  }

  .box .start{
    padding-top: 120px;
    padding-left: 72px;
  }

  .box:hover .start img{ 
    opacity: 1;
    height: 30px;
    width: 38px;
    transition: 800ms;
  }

  .box .image{
    height: 160px;
    width: 110px;
  }

  .carrossel {height: 250px;}
}

.botoes2 div{z-index: 1;}


/*-------------------------------Carrosel 1 @media---------------------------------------*/
@media screen and (max-width:425px){

  #mainSlider .carousel-inner, #mainSlider .carousel-item{height: 80vh;}
  
  #mainSlider .carousel-item .img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
  
  #mainSlider .carousel-caption{top:60vh;} 

  .carousel-caption .play{
    width: 40%;
    height: auto;
    border-radius: 50%;
  }
  
  #mainSlider .carousel-caption h2{ font-size: 15px;}
}
  
@media screen and (max-width:800px){
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item{ height: 80vh;}
    
  #mainSlider .carousel-item .img{
    object-fit: cover;
    width: 100%;
    height: 100%;
  }
    
  #mainSlider .carousel-caption{top:65vh;} 

  .carousel-caption .play{
    width: 40%;
    height: auto;
    border-radius: 50%;
  }
    
  #mainSlider .carousel-caption h2{font-size: 25px;}
}
  
@media screen and (max-width:1280px){
  
  #mainSlider .carousel-inner, #mainSlider .carousel-item{height: auto;}
    
  #mainSlider .carousel-item .img{
    height: 80vh;
    object-fit: cover;
    width: 100%;
  }
    
  #mainSlider .carousel-caption{top:50vh;} 
    
  #mainSlider .carousel-caption h2{font-size: 30px;}

  .carousel-caption .play{
    width: 40%;
    height: auto;
    border-radius: 50%;
  } 
}